LI_AT_COOKIE=AQEDAVvCWYUFTXVtAAABl2y4qOUAAAGXkMUs5U0ApaJASYrE_RCZGbYB_HjKH15UK_6Xj8xCsOjadj6PM6-YW8jv5b5Q1ZmrN5WhHRYaKjkzDSGZWp9d7PKKU2A1lDxTt3QNWD06nmdq6BkROMdW6QKZ
NAUKRI_BASE_URL=https://www.naukri.com/jobapi/v3/search
NAUKRI_APP_ID=109
NAUKRI_CLIENT_ID=d3skt0p
NAUKRI_NKPARAM=ABKjfKtP31yypVzS8xaYxsw1a0vGldtMpUEYLf7uFwO4iL7LkWKn/NfZOR4GZtYl8tLHUEbwNyXcYCaGGjCvzg==
USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36
LOG_LEVEL=INFO
DEFAULT_RESULTS_PER_PAGE=20
DEFAULT_URL_TYPE=search_by_key_loc
DEFAULT_SEARCH_TYPE=adv
SERPER_API_KEY=PUT_YOUR_KEY
GROQ_API_KEY=PUT_YOUR_KEY